.btn {
    background: rgba(123, 202, 241, .69);
    border-radius: 2px;
    border: none;
    width: 229px;
    height: 51px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-decoration: none;
    font-family: "Arial";
    font-size: 16px;
    letter-spacing: .8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus,
    &:hover {
        opacity: .9;
        color: #fff;
    }
}

.btn-mobile {
    margin-top: 2em;
    @include breakpoint(tablet) {
        display: none;
    }
}

.btn-desktop {
    // display: none;
    display: flex;
    margin: 30px 114px 0 0px;

    @include breakpoint(tablet) {
    }
}

.btn-link {
    transition: opacity 250ms ease;
    opacity: 1;
    font-size: 0.8em;
    color: #526C79;
    opacity: 0.5;
    margin-top: 2em;
    display: block;
    text-align: left;

    &:focus,
    &:hover {
        text-decoration: none;
        opacity: 0.8;
        color: #526C79;
    }
}
