.content-image {
    width: 100%;
    float: left;

    @include breakpoint(tablet) {
        width: 50%;
    }
}

.content-info {
    float: left;

    @include breakpoint(tablet) {
        width: 50%;
        padding-right: 5em;
    }

    h1 {
        margin-top: 0.5em;
        text-align: left;
        font-size: 1.75em;
        color: $brand_clr;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;

        @include breakpoint(tablet) {
            margin-top: 0.75em;
            margin: 0.75em 0;
        }
    }

    h2 {
        margin-top: 1em;
        margin-bottom: 0em;
        text-align: left;
        color: $brand_clr;
        font-size: 1.5em;
        font-family: 'Gentium Book Basic', sans-serif;
        font-style: italic;
        @include breakpoint(tablet) {
            margin-top: 0;
        }
    }
}

.student-image {
    width: 220px;
    height: 220px;
}

.student-story {
    transition: opacity 500ms ease;
    opacity: 0;
    position: absolute;
    left: -9999%;
    top: -9999%;
}

.full-student-bio.active {
    .student-story {
        opacity: 1;
        position: relative;
        top: 0;
        left: 0;
    }
}

.student-story-left {
    text-align: left;
    margin-top: 4em;
    @include breakpoint(tablet) {
        margin-top: 0;
        width: 30%;
        float: left;
    }

    @include breakpoint(desktop) {
        width: 20%;
    }
}

.student-story-right {
    @include breakpoint(tablet) {
        width: 70%;
        float: left;
        padding-left: 2em;
    }

    @include breakpoint(desktop) {
        width: 80%;
    }
}
