/*===================================*\
   `FONTS
\*===================================*/

@font-face {
    font-family: 'Tisa Pro Bold';
    src: url('../fonts/tisapro/tisapro-bold/TisaPro-Bold.eot');
    src: local('☺'), url('../fonts/tisapro/tisapro-bold/TisaPro-Bold.woff') format('woff'), url('../fonts/tisapro/tisapro-bold/TisaPro-Bold.ttf') format('truetype'), url('../fonts/tisapro/tisapro-bold/TisaPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Pro Bold Italic';
    src: url('../fonts/tisapro/tisapro-bold-italic/TisaPro-BoldIta.eot');
    src: local('☺'), url('../fonts/tisapro/tisapro-bold-italic/TisaPro-BoldIta.woff') format('woff'), url('../fonts/tisapro/tisapro-bold-italic/TisaPro-BoldIta.ttf') format('truetype'), url('../fonts/tisapro/tisapro-bold-italic/TisaPro-BoldIta.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Pro Regular';
    src: url('../fonts/tisapro/tisapro-regular/TisaPro.eot');
    src: local('☺'), url('../fonts/tisapro/tisapro-regular/TisaPro.woff') format('woff'), url('../fonts/tisapro/tisapro-regular/TisaPro.ttf') format('truetype'), url('../fonts/tisapro/tisapro-regular/TisaPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Pro Italic';
    src: url('../fonts/tisapro/tisapro-italic/TisaPro-Ita.eot');
    src: local('☺'), url('../fonts/tisapro/tisapro-italic/TisaPro-Ita.woff') format('woff'), url('../fonts/tisapro/tisapro-italic/TisaPro-Ita.ttf') format('truetype'), url('../fonts/tisapro/tisapro-italic/TisaPro-Ita.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
