input {
    height: 45px;
    display: flex;
    width: 100%;
    color: $brand_clr;
    padding-left: 10px;

    & + & {
        margin-top: 1em;

        @include breakpoint(tablet) {
            margin-top: 0;
            margin-left: 20px;
        }
    }
}

input.btn {
    height: 45px;
}
