.header-top {
    height: 10px;
    width: 100%;
    background-color: #f8ce78;
    z-index: 1;
    position: relative;
}

.header-bottom {
    background-color: $brand_clr;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;

    @include breakpoint(tablet) {
        height: 100px;
        display: flex;
    }

    @media(max-height: 600px) {
        display: none;
    }
}

.image-sponser {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 75%;

        @include breakpoint(tablet) {
            width: 100%;
        }
    }
}

.overview {
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(tablet) {
        background: url("../images/backgrounds/overview/overview-bg.jpg") center center;
        background-size: cover;
    }
}

.overview-logo-sm {
    width: 100%;

    @include breakpoint(desktop) {
        display: none;
    }
}

.overview-logo {
    display: none;

    @include breakpoint(laptop) {
        width: 300px;
    }


    @include breakpoint(desktop) {
        display: block;
        width: 400px;
    }

}

.overview-logo img, .overview-logo-sm img {
    width: 100%;
    max-width: 400px;
}
