.featured {
    display: none;
    &:active, &:hover, &:focus, &:visited {
        outline: none;
    }
}

.featured.student-feature-two.visible {
    float: left;
    width: 50%;
    flex-direction: column;

    @include breakpoint(desktop) {
        width: 25%;
    }

    .content-image {
        width: 100%;

        img {
            width: 200px;
            height: 200px;
            @include breakpoint(mobile) {
                float: left;
            }
        }
    }

    .content-info {
        width: 100%;
        padding-right: 5em;
        max-width: 350px;

        h2 {
            margin-top: 1em;
        }
    }
}


.section-intro {
    text-align: left;
    padding: 2em 0;
}

#section1 .featured-two {

    @include breakpoint(tablet) {
        padding: 4em;
        .section-intro {
            display: none;
        }
    }

    @include breakpoint(desktop) {
        padding: 0;
    }
}

.featured.visible {
    display: flex;
    width: 100%;
    margin-bottom: 4em;
    flex-direction: column;

    @include breakpoint(tablet) {
        flex-direction: row;
    }
}

.fp-slide.fp-table {
    height: 0;
}

.fp-slide.fp-table.active {
    height: auto;
}

.fp-prev {
    visibility: hidden;

    @include breakpoint(mobile) {
        transition: opacity 250ms ease;
        visibility: hidden;
        opacity: 0;
    }
}

.fp-prev.visible {
    @include breakpoint(tablet) {
        visibility: visible;
        opacity: 1;
    }
}

.fp-next {
    visibility: hidden;

    @include breakpoint(tablet) {
        transition: opacity 250ms ease;
        opacity: 0;
        visibility: hidden;
    }
}
.fp-next.visible {
    @include breakpoint(tablet) {
        visibility: visible;
        opacity: 1;
    }
}

#section1 {
    @include breakpoint(tablet) {
            height: auto !important;
            min-height: 100vh;
    }

    .slide:first-child {
        transition: 750ms opacity ease;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    @include breakpoint(tabletonly) {
        height: auto !important;
    }

    .fp-slidesContainer {
        @include breakpoint(tabletonly) {
            height: auto !important;
        }
    }

    .fp-tableCell {
        @include breakpoint(tabletonly) {
            height: auto !important;
        }
    }

    .slide {
        @include breakpoint(tabletonly) {
            pointer-events: none;

            &.active {
                pointer-events: visible;
            }
        }
    }
}

.section {
    @include breakpoint(tabletonly) {
        height: auto !important;
    }

    .fp-slidesContainer {
        @include breakpoint(tabletonly) {
            height: auto !important;
        }
    }

    .fp-tableCell {
        @include breakpoint(tabletonly) {
            height: auto !important;
        }
    }
}

.section p {
    font-family: 'Gentium Book Basic', sans-serif;
    color: $brand_clr;
    line-height: 1.5em;
    font-size: 1.2em;
    opacity: 0.8;
}

.section-intro {
    @include breakpoint(desktop) {
        width: 40%;
        float: left;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    h1 {
        font-size: 2em;
        color: $brand_clr;
        font-weight: bold;
        font-family: "Open-Sans", sans-serif;
        margin-bottom: 0.5em;
    }
}

.section-students {

    @include breakpoint(desktop) {
        width: 60%;
        float: left;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding-left: 20px;
    }
}

.section-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    h1, h2 {
        text-align: left;
    }

    @include breakpoint(tablet) {
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.overview .section-split {
    padding: 4em 0;
    @include breakpoint(mobile) {
        // padding-bottom: 100px;
        padding-top: 2em;
        padding-bottom: 2em;
        justify-content: flex-start;

        .section-content {
            align-items: flex-start;
        }
    }

    @include breakpoint(desktop) {
        padding: 0;
        // padding-bottom: 100px;
    }
}

.overview .section-split + .section-split {
    padding-top: 0;
    @include breakpoint(mobile) {
        padding-top: 2em;
        // padding-bottom: 120px;
    }
    @include breakpoint(tablet) {
        padding-bottom: 0;
    }
    @include breakpoint(desktop) {
        // padding-bottom: 120px;
    }
}

.section-split {
    display: flex;
    width: 100%;
    float: left;
    align-items: flex-start;
    z-index: 1;
    justify-content: flex-start;
    flex-direction: column;

    @include breakpoint(tablet) {
        justify-content: flex-end;
        width: 50%;
        flex-direction: row;
    }

    @include breakpoint(desktop) {
        height: 100%;
        justify-content: flex-start;
        width: 40%;
        align-items: center;

        & + & {
            width: 60%;

            p {
                padding-left: 25%;
            }
        }
    }
}

.section-first {
    order: 1;

    @include breakpoint(tablet) {
        order: 2;
    }
    @include breakpoint(desktop) {
        order: 1;
    }
}

.section-second {
    order: 2;

    @include breakpoint(tablet) {
        order: 1;
    }
    @include breakpoint(desktop) {
        order: 2;
    }
}

.slide-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    display: none;
    min-width: 200px;

    @include breakpoint(tablet) {
        display: block;
        min-width: 300px;
        width: 33.333333333%;
    }

    @include breakpoint(desktop) {
        min-width: 400px;
        width: 25%;
    }

    &:before {
        content: "";
        width: 0;
    	height: 0;
        left: -100vh;
        position: absolute;
    	border-top: 115vh solid rgba(255, 255, 255, 0.9);
    	border-left: 100vh solid transparent;
        top: 0;
        bottom: 0;
    }

    &.right {
        right: 0px;

        @include breakpoint(laptop) {
            right: 0px;
        }

        @include breakpoint(desktop) {
            right: -100px;
        }

        @media(min-width: 1500px) {
            right: 0;
        }
    }

    &.left {
        left: 0;
        right: auto;
        background-color: #526c79;
        width: 33.333333333%;

        &.employment {
            background-color: #f2f2f2;

            &:before {
                border-bottom: 115vh solid #f2f2f2;
            }
        }

        &.accountability {
            background-color: #f8cf77;

            &:before {
                border-bottom: 115vh solid #f8cf77;
            }
        }

        &.education {
            background-color: #9ab7c5;

            &:before {
                border-bottom: 115vh solid #9ab7c5;
            }
        }

        &.overview {
            background-color: rgba(255, 255, 255, 0.9);

            &:before {
                border-bottom: 115vh solid rgba(255, 255, 255, 0.9);
                border-left: 115vh solid rgba(255, 255, 255, 0.9);
            }
        }

        &:before {
            content: "";
            width: 0;
        	height: 0;
            right: -100vh;
            position: absolute;
        	border-bottom: 115vh solid #526c79;
        	border-right: 100vh solid transparent;
            left: auto;
            border-top: none;
            top: 0;
            bottom: 0;
        }
    }
}

.full-student-bio {
    padding: 1em 0;

    @include breakpoint(tablet) {
        padding: 4em 0;
    }

    @include breakpoint(desktop) {
        padding: 2em 0;
    }

    h1 {
        margin-top: 1.5em;
        text-align: left;
        font-size: 2em;
        color: $brand_clr;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;

        @include breakpoint(tablet) {
            margin-top: 0;
        }
    }

    h2 {
        margin-top: 1em;
        margin-bottom: 2em;
        text-align: left;
        color: $brand_clr;
        font-size: 1.5em;
        font-family: 'Gentium Book Basic', sans-serif;
        font-style: italic;
    }
}

.full-student-bio .student-story {
    transition: opacity 750ms ease;
    opacity: 0;
    height: 0;
}

.full-student-bio.active .student-story {
    opacity: 1;
    height: auto;
}

.student-bio p {
    margin-bottom: 1em;
    @include breakpoint(desktop) {
        font-size: 1em;
    }
}

// Education
#section2 {
    background: #9ab7c5;
}

.section-dash {
    background: #9ab7c5;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    @include breakpoint(tablet) {
        background: url("../images/backgrounds/education/education-bg.png");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    .split-container-flex {
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }

    .section-sponsers {
        margin-top: 2em;
        width: 100%;
        justify-content: flex-start;
        display: none;
        flex-wrap: wrap;

        @include breakpoint(tablet) {
            display: flex;
        }

        img {
            max-width: 100%;
            height: 100%;
        }
    }

    .section-sponser-image {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 33%;
        margin-bottom: 1em;
    }

    .section-content {
        padding: 4em 0;
        padding-bottom: 6em;

        @include breakpoint(tablet) {
            padding: 0;
            padding-bottom: 0;
        }
    }
}

.section-dash .section-content {
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
        font-size: 1.2em;
        color: #fff;
        font-family: 'Gentium Book Basic', sans-serif;
    }

    h1 {
        font-size: 2em;
        color: #fff;
        margin-top: 0em;
        font-weight: 700;

        @include breakpoint(tablet) {
            margin-top: 1em;
        }
    }

    p {
        color: #fff;
        margin-top: 1em;
    }

    a {
        color: #fff;
        font-size: 1em;
        position: absolute;
        bottom: 3em;
        left: 0;
        opacity: 1;
        margin-left: 30px;
        transition: opacity 250ms ease;

        &:hover,
        &:focus {
            opacity: 0.6;
        }
    }
}

.section-dash-image {
    width: 100%;

    @include breakpoint(tablet) {
        display: none;
    }
}

// Employment
#section3 {
    background: #f2f2f2;

    .section-dash .section-content {
        h1, h2, a, p {
            color: $brand_clr;
        }
    }

    .section-dash {
        background: #f2f2f2;
        @include breakpoint(tablet) {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right;
            background-image: url("../images/backgrounds/employment/employment-bg.png");
        }
    }
}

// Organizations
#section4 {
    background: #526c79;

    .section-dash .section-content {
        h1, h2, a, p {
            color: #fff;
        }
    }

    .section-dash {
        background: #526c79;
        @include breakpoint(tablet) {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("../images/backgrounds/organizations/organizations-bg.png");
            background-position: right;
        }
    }
}

// Accountability
#section5 {
    background: #f8cf77;

    .section-dash .section-content {
        h1, h2, a, p {
            color: $brand_clr;
        }
    }

    .section-dash {
        background: #f8cf77;
        @include breakpoint(tablet) {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right;
            background-image: url("../images/backgrounds/accountability/accountability-bg.png");
        }
    }
}

// Locations
#section6 {
    position: relative;
}

// Updates
#section7 {
    background: #526c79;
    height: auto !important;
    border-top: 1px solid #75848b;

     .fp-tableCell {
         height: auto !important;
    }
}

.section-location {
    position: relative;
    display: block;
    order: 2;
    align-items: flex-start;
    z-index: 1;
    padding: 30px;

    @include breakpoint(tablet) {
        width: 400px;
        left: 10%;
        top: 20%;
        padding: 0;
        position: absolute;
        display: flex;
        order: 1;
    }

    h1 {
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #526c79;
        font-weight: 700;

        &:before {
            content: "\002b";
            display: none;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            margin-right: 10px;
            padding: 3px 6px;
            border-radius: 2px;
            color: white;
            background-color: rgba(149, 165, 178, 0.7);
            width: 26px;
            margin-right: 10px;

            @include breakpoint(tablet) {
                display: block;
            }
        }
    }

    a {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    p {
        padding: 15px;
        padding-left: 0;
    }

    .panel {
        margin-bottom: 0;
        background-color: transparent;
        border: none;
    }

    .panel-heading {
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.8);
        padding-left: 0;

        @include breakpoint(tablet) {
            padding-left: 5px;
        }
    }
}

.section-map {
    display: flex;
    flex-direction: column;
    @include breakpoint(tablet) {
        display: block;
    }
}

.map {
    order: 1;
    @include breakpoint(tablet) {
        order: 2;
    }
}

.collapse, .collapsed, .accordion-collapse {
    @include breakpoint(tabletonly) {
        display: block;
        height: auto !important;
        pointer-events: none;
    }
}

.accordion-collapse {
    @include breakpoint(tablet) {
        .panel-heading {
            width: 500px;
        }

        h1 {
            font-size: 2em;
            display: block;
            padding-left: 25px;

            &:before {
                font-size: 16px;
                content: "\2212";
                display: block;
                margin-bottom: 0.5em;
                width: 28px;
                position: relative;
                left: -25px;
            }
        }

        &.collapsed {
            .panel-heading {
                width: 275px;
            }

            h1 {
                font-size: 16px;
                display: flex;
                padding-left: 0px;

                &:before {
                    content: "\002b";
                    margin-bottom: 0;
                    width: 26px;
                    left: 0;
                }
            }
        }
    }
}

.collapsing {
    transition-duration: 0ms;
}

.section-collapsed {
    background-color: rgba(255, 255, 255, 0.8);

    &.in {
        p {
            padding: 5px 30px 20px 30px;
        }
    }

    &.collapsing {
        p {
            padding: 5px 30px 20px 30px;
        }
    }
}
